lib
.idea/
node_modules/
temp
dist
*.log
*.dat
*.config.yaml
*.out
*.csv
*.config.json
cmake-build-debug/
node/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
ta_config.h
ta-lib/Makefile
ta-lib/c/Makefile
ta-lib/c/bin